@model MyProject.Models.Phone

@{
    ViewData["Title"] = Model.namePhone;
}

<head>
    <link rel="stylesheet" type="text/css" href="MyStyleSheet.css" />
</head>
<div style="padding-top:15px">
    <h1 align="center">@Model.namePhone</h1>
</div>

<div>
    <div>
        <img width="900" height="600" class="image-center" src="@Model.img" />
    </div>
    <dl class="dl-horizontal">
        <dt>Информация</dt>
        <dd>@Model.fullDesc</dd>
        <dt>Компания, разработавшая данную модель девайса:</dt>
        <dd>@Model.companyPhone</dd>
        <dt>ОЗУ данного девайса:</dt>
        <dd>@Model.ramPhone</dd>
        <dt>Процессор:</dt>
        <dd>@Model.cpuPhone</dd>
    </dl>

</div>


