@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = @Localizer["H1"];
}
<h1> @Localizer["S1"] </h1>
<head>
    <link rel="stylesheet" type="text/css" href="Partners.css">
</head>
<div class="row mt-5 mb-2">
    @{
        <div class="col-lg-4">
            <img class="img-thumbnail" src="~/images/1xbet.jpg" />
            <h2>@Localizer["S2"]</h2>
            <p>@Localizer["S3"]</p>
            <a href="https://1x-official.com/" target="_blank">@Localizer["S4"]</a>
        </div>

        <div class="col-lg-4">
            <img class="img-thumbnail" src="~/images/Istore.png" />
            <h2>@Localizer["M1"]</h2>
            <p>@Localizer["M2"]</p>
            <a href="https://i-store.by/" target="_blank">@Localizer["S4"]</a>

        </div>
        <div class="col-lg-4">
            <img class="img-thumbnail" src="~/images/samsung-logo.jpg" />
            <h2>@Localizer["G1"]</h2>
            <p>@Localizer["G2"]</p>
            <a href="https://i-store.by/" target="_blank">@Localizer["S4"]</a>

        </div>
    }
</div>